
.header-img{
    display: flex;
    align-items: center;
    justify-content:center;

}
.header-title{
    display: flex;
    align-items: center;
    justify-content:center;
    
}
nav{
    align-items: center;
    justify-content: center;
    display: flex;
}