
.header-img{
    display: flex;
    align-items: center;
    justify-content:center;

}
.header-title{
    display: flex;
    align-items: center;
    justify-content:center;
    
}
nav{
    background-color: rgb(218, 222, 222);
        

    


    .nav-title{
        align-items: center;
        justify-content: center;
        display: flex;

    }

    .span-text{
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .nav-btn {
        display: flex;
        align-items: center; 
        justify-content: center;
        background-color: pink;
        width: 200px;
        margin: 0 auto;
        text-decoration: none;
        padding: 10px;
        border-radius: 1000px;
    }
}