* {
   
  box-sizing: border-box;
  
}

:root {
  --primary:#9356DC;
  --secondary:#FF79DA;
  --tertiary:#99E2D0;
}

body{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  
}

.back-arrow{
  position: relative;
  right:20%;
  font-weight: bolder;
  font-size: 1.5rem;
  color: black;
}


.header-logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  & img {
    width: 200px;
    
  }
}

.header-image-container img {
  width: 100%;
}

.food-details {
  background-color: rgb(247, 248, 248);
  border-radius: 50px 50px 0px 0px;
  position: relative;
  top: -100px;
  padding: 20px;
  /* backface-visibility:hidden; */
}

.menu-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Shrikhand", cursive;
  font-size:1.8rem;
  
}
.menu-title-icon{
  margin-right: 10px;

}
.main-details {
  margin-top: 40px;
}

.desserts-details{
  margin-top: 40px;

}

.text-entrees {
  border-bottom: 2px solid rgb(35, 210, 134);
  width: 50px;
}
.text-main {
  border-bottom: 2px solid rgb(35, 210, 134);
  width: 50px;
  word-break: normal;
  white-space: nowrap;
}
.text-desserts {
  border-bottom: 2px solid rgb(35, 210, 134);
  width: 50px;
  word-break: normal;
}
 .two-item{
  display: flex;
  margin-bottom: 10px;
}
.item-selector{
  background-color: #99E2D0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-top: 10px;
  width: 80px;
  display: none;

}
.item-selector p{
  color: var(--tertiary);
 display: flex;
 align-items: center;
 justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: white;

}

 .item:hover + .item-selector{
  display: flex;
  align-items: center;
  justify-content: center;


 }
 .item:hover{
  overflow: hidden;
  text-overflow: ellipsis !important;
  white-space: nowrap;
  gap:15px;
  direction:ltr !important;

}

 .item-text {
  overflow: hidden;
  text-overflow: ellipsis !important;
  direction: ltr !important;
 

} 


/* .two-item:hover + .item1{
  display: block;
  
}  */


.item {
  display: flex;
  align-items: end;
  justify-content:space-between;
  box-shadow: 0px 0px 10px 5px rgb(244, 244, 244);
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
  margin-top: 10px;
  width: 100%;
  gap: 5px;
  
}

.item:hover {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;

}

.button-section{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -100px;
  padding: 30px;
  padding-bottom: 50px;
  background-color: rgb(247, 248, 248);
}

.button{
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  color: white;
  font-weight:200;
  border: none;
  width: 180px;
  padding: 5px;
  border-radius: 100px;
  background: linear-gradient( to bottom , var(--secondary), var(--primary))
}
.button:hover {
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}


/* footer */

.footer{
  background-color: rgb(57, 57, 57);
  color: white;
  padding: 30px;
  line-height:30px;
  .footer-title{
      font-family: 'Shrikhand', cursive;
      margin-bottom: 20px;

  }
  .icon-text{
      display: flex;
      gap: 10px;


  }
}

/* animation for entrees*/

#entrees-1 {
  animation-duration: 3s;
  animation-name: entrees1;
  animation-iteration-count: 1;
  overflow: hidden;
}
#entrees-2 {
  animation-duration: 3s;
  animation-name: entrees2;
  animation-iteration-count: 1;
  overflow: hidden;
}
#entrees-3 {
  animation-duration: 3s;
  animation-name: entrees3;
  animation-iteration-count: 1;
  animation-delay: 0.3s;
  overflow: hidden;
}

@keyframes entrees1 {
  0% {
    margin-left: 100%;
    width: 300%;
    opacity: 0;
  }

  100% {
    margin-left: 0%;
    width: 100%;
    opacity: 1;
  }
}

@keyframes entrees2 {
  0% {
    margin-left: 100%;
    width: 100%;
    opacity: 0;
  }
  25% {
    margin-left: 100%;
    width: 300%;
    opacity: 0;
  }

  100% {
    margin-left: 0%;
    width: 100%;
    opacity: 1;
  }
}

@keyframes entrees3 {
  0% {
    margin-left: 100%;
    width: 300%;
    opacity: 0;
  }
  25% {
    margin-left: 100%;
    width: 300%;
    opacity: 0;
  }

  100% {
    margin-left: 0%;
    width: 100%;
    opacity: 1;
  }
}

/* animation for main dish*/

#main-1 {
  animation-duration: 3s;
  animation-name: main1;
  animation-iteration-count: 1;
  animation-delay: 0.7s;
  
}
#main-2 {
  animation-duration: 3s;
  animation-name: main2;
  animation-iteration-count: 1;
  animation-delay: 1s;
}
#main-3 {
  animation-duration: 3s;
  animation-name: main3;
  animation-iteration-count: 1;
  animation-delay: 1.3s;
}

@keyframes main1 {
  0% {
    margin-left: 100%;
    width: 300%;
    opacity: 0;
  }

  100% {
    margin-left: 0%;
    width: 100%;
    opacity: 1;
  }
}

@keyframes main2 {
  0% {
    margin-left: 100%;
    width: 300%;
    opacity: 0;
  }
  25% {
    margin-left: 100%;
    width: 300%;
    opacity: 0;
  }

  100% {
    margin-left: 0%;
    width: 100%;
    opacity: 1;
  }
}

@keyframes main3 {
  0% {
    margin-left: 100%;
    width: 300%;
    opacity: 0;
  }
  25% {
    margin-left: 100%;
    width: 300%;
    opacity: 0;
  }

  100% {
    margin-left: 0%;
    width: 100%;
    opacity: 1;
  }
}

/* animation for desserts*/

#dessert-1 {
  animation-duration: 3s;
  animation-name: dessert1;
  animation-iteration-count: 1;
  animation-delay: 1.5s;
}
#dessert-2 {
  animation-duration: 3s;
  animation-name: dessert2;
  animation-iteration-count: 1;
  animation-delay: 1.7s;
}
#dessert-3 {
  animation-duration: 3s;
  animation-name: dessert3;
  animation-iteration-count: 1;
  animation-delay: 2s;
}

@keyframes dessert1 {
  0% {
    margin-left: 100%;
    width: 300%;
    opacity: 0;
  }

  100% {
    margin-left: 0%;
    width: 100%;
    opacity: 1;
  }
}

@keyframes dessert2 {
  0% {
    margin-left: 100%;
    width: 300%;
    opacity: 0;
  }
  25% {
    margin-left: 100%;
    width: 300%;
    opacity: 0;
  }

  100% {
    margin-left: 0%;
    width: 100%;
    opacity: 1;
  }
}

@keyframes dessert3 {
  0% {
    margin-left: 100%;
    width: 300%;
    opacity: 0;
  }
  25% {
    margin-left: 100%;
    width: 300%;
    opacity: 0;
  }

  100% {
    margin-left: 0%;
    width: 100%;
    opacity: 1;
  }
}



/* Media query for desktop version */

@media only screen and (min-width: 992px) {
  * {
   
    box-sizing: border-box;
    
  }
  
  :root {
    --primary:#9356DC;
    --secondary:#FF79DA;
    --tertiary:#99E2D0;
  }
  
  body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    
  }
  
  .back-arrow{
    position: relative;
    right:20%;
    font-weight: bolder;
    font-size: 1.5rem;
    color: black;
  }
  
  .header-logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    & img {
     
      width: 200px;
      
    }
  }
  
  .header-image-container img {
    width: 100%;
    padding-bottom: 50px;
  }
  
  .food-details {
    background-color: rgb(247, 248, 248);
    border-radius: 50px 50px 0px 0px;
    position: relative;
    top: -350px;
    padding: 20px;
    /* backface-visibility:hidden; */
  }

  
  .menu-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Shrikhand", cursive;
    font-size:1.8rem;
    
  }
  .menu-title-icon{
    margin-right: 10px;
  
  }

  

  .all-entrees{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
     width: 100%;
     gap:10px;
    
    
  }
  .all-entrees> * {
    flex: 1 1 300px;
}

.all-main{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
   width: 100%;
   gap:10px;
  
  
}
.all-main> * {
  flex: 1 1 300px;
}

.all-desserts{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
   width: 100%;
   gap:10px;
  
  
}
.all-desserts> * {
  flex: 1 1 300px;
}


  .main-details {
    margin-top: 40px;
  }
  
  .desserts-details{
    margin-top: 40px;
  
  }

  
  .text-entrees {
    border-bottom: 2px solid rgb(35, 210, 134);
    width: 50px;
  }
  .text-main {
    border-bottom: 2px solid rgb(35, 210, 134);
    width: 50px;
    word-break: normal;
    white-space: nowrap;
  }
  .text-desserts {
    border-bottom: 2px solid rgb(35, 210, 134);
    width: 50px;
    word-break: normal;
  }
   .two-item{
    display: flex;
    margin-bottom: 10px;
  }
  .item-selector{
    background-color: #99E2D0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top: 10px;
    width: 80px;
    display: none;
  
  }
  
  .item-selector p{
        color: var(--tertiary);
       display: flex;
       align-items: center;
       justify-content: center;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background-color: white;
  
  }
   .item:hover + .item-selector{
    display: flex;
    align-items: center;
    justify-content: center;
  
  
   }
   .item:hover{
    overflow: hidden;
    text-overflow: ellipsis !important;
    white-space: nowrap;
    gap:15px;
    direction:ltr !important;
  
  }
  
   .item-text {
    overflow: hidden;
    text-overflow: ellipsis !important;
    direction: ltr !important;
   
  
  } 
  
  
  /* .two-item:hover + .item1{
    display: block;
    
  }  */
  
  
  .item {
    display: flex;
    align-items: end;
    justify-content:space-between;
    box-shadow: 0px 0px 10px 5px rgb(244, 244, 244);
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    margin-top: 10px;
    width: 100%;
    gap: 5px;
    
  }
  
  .item:hover {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  
  }
  
  .button-section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background-color: rgb(247, 248, 248);
    margin-top: -350px;
    
  }
  
  .button{
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    color: white;
    font-weight:200;
    border: none;
    width: 180px;
    padding: 5px;
    border-radius: 100px;
    background: linear-gradient( to bottom , var(--secondary), var(--primary))
  }
  .button:hover {
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
  }
  
  
  /* footer */
  
  .footer{
    background-color: rgb(57, 57, 57);
    color: white;
    padding: 30px;
    .footer-title{
        font-family: 'Shrikhand', cursive;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    /* .footer-text{
        display: flex;
        flex-direction:row;
        align-items: center;
        justify-content: center;
        gap: 50px;
    } */

    .footer-text{
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
    }

    .icon-text{
        display: flex;
        gap: 10px;



    }
}
  
  /* animation for entrees*/
  
  #entrees-1 {
    animation-duration: 3s;
    animation-name: entrees1;
    animation-iteration-count: 1;
    overflow: hidden;
  }
  #entrees-2 {
    animation-duration: 3s;
    animation-name: entrees2;
    animation-iteration-count: 1;
    overflow: hidden;
  }
  #entrees-3 {
    animation-duration: 3s;
    animation-name: entrees3;
    animation-iteration-count: 1;
    animation-delay: 0.3s;
    overflow: hidden;
  }
  
  @keyframes entrees1 {
    0% {
      margin-left: 100%;
      width: 300%;
      opacity: 0;
    }
  
    100% {
      margin-left: 0%;
      width: 100%;
      opacity: 1;
    }
  }
  
  @keyframes entrees2 {
    0% {
      margin-left: 100%;
      width: 100%;
      opacity: 0;
    }
    25% {
      margin-left: 100%;
      width: 300%;
      opacity: 0;
    }
  
    100% {
      margin-left: 0%;
      width: 100%;
      opacity: 1;
    }
  }
  
  @keyframes entrees3 {
    0% {
      margin-left: 100%;
      width: 300%;
      opacity: 0;
    }
    25% {
      margin-left: 100%;
      width: 300%;
      opacity: 0;
    }
  
    100% {
      margin-left: 0%;
      width: 100%;
      opacity: 1;
    }
  }
  
  /* animation for main dish*/
  
  #main-1 {
    animation-duration: 3s;
    animation-name: main1;
    animation-iteration-count: 1;
    animation-delay: 0.7s;
    
  }
  #main-2 {
    animation-duration: 3s;
    animation-name: main2;
    animation-iteration-count: 1;
    animation-delay: 1s;
  }
  #main-3 {
    animation-duration: 3s;
    animation-name: main3;
    animation-iteration-count: 1;
    animation-delay: 1.3s;
  }
  
  @keyframes main1 {
    0% {
      margin-left: 100%;
      width: 300%;
      opacity: 0;
    }
  
    100% {
      margin-left: 0%;
      width: 100%;
      opacity: 1;
    }
  }
  
  @keyframes main2 {
    0% {
      margin-left: 100%;
      width: 300%;
      opacity: 0;
    }
    25% {
      margin-left: 100%;
      width: 300%;
      opacity: 0;
    }
  
    100% {
      margin-left: 0%;
      width: 100%;
      opacity: 1;
    }
  }
  
  @keyframes main3 {
    0% {
      margin-left: 100%;
      width: 300%;
      opacity: 0;
    }
    25% {
      margin-left: 100%;
      width: 300%;
      opacity: 0;
    }
  
    100% {
      margin-left: 0%;
      width: 100%;
      opacity: 1;
    }
  }
  
  /* animation for desserts*/
  
  #dessert-1 {
    animation-duration: 3s;
    animation-name: dessert1;
    animation-iteration-count: 1;
    animation-delay: 1.5s;
  }
  #dessert-2 {
    animation-duration: 3s;
    animation-name: dessert2;
    animation-iteration-count: 1;
    animation-delay: 1.7s;
  }
  #dessert-3 {
    animation-duration: 3s;
    animation-name: dessert3;
    animation-iteration-count: 1;
    animation-delay: 2s;
  }
  
  @keyframes dessert1 {
    0% {
      margin-left: 100%;
      width: 300%;
      opacity: 0;
    }
  
    100% {
      margin-left: 0%;
      width: 100%;
      opacity: 1;
    }
  }
  
  @keyframes dessert2 {
    0% {
      margin-left: 100%;
      width: 300%;
      opacity: 0;
    }
    25% {
      margin-left: 100%;
      width: 300%;
      opacity: 0;
    }
  
    100% {
      margin-left: 0%;
      width: 100%;
      opacity: 1;
    }
  }
  
  @keyframes dessert3 {
    0% {
      margin-left: 100%;
      width: 300%;
      opacity: 0;
    }
    25% {
      margin-left: 100%;
      width: 300%;
      opacity: 0;
    }
  
    100% {
      margin-left: 0%;
      width: 100%;
      opacity: 1;
    }
  }








}
